@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:400,300);
* {
  box-sizing: border-box; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

@font-face {
  font-family: "Melbourne";
  src: url("Melbourne_reg.eot?") format("eot"), url("Melbourne_reg.woff") format("woff"), url("Melbourne_reg.ttf") format("truetype"), url("Melbourne_reg.svg#Melbourne") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Ostrich Sans';
  src: url("ostrich-sans-black.eot");
  src: url("ostrich-sans-black.woff") format("woff"), url("ostrich-sans-black.ttf") format("truetype"), url("ostrich-sans-black.svg") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ostrich Sans';
  src: url("ostrich-sans-bold.eot");
  src: url("ostrich-sans-bold.woff") format("woff"), url("ostrich-sans-bold.ttf") format("truetype"), url("ostrich-sans-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ostrich Sans';
  src: url("ostrich-sans-regular.eot");
  src: url("ostrich-sans-regular.woff") format("woff"), url("ostrich-sans-regular.ttf") format("truetype"), url("ostrich-sans-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Ostrich Sans';
  src: url("ostrich-sans-light.eot");
  src: url("ostrich-sans-light.woff") format("woff"), url("ostrich-sans-light.ttf") format("truetype"), url("ostrich-sans-light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
html,
body {
  width: 100%;
  height: 100%; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 62.5%; }

h1 {
  font-family: 'Ostrich Sans';
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: 900; }

p {
  font-family: 'Melbourne';
  font-size: 2em; }

a {
  font-family: 'Melbourne';
  text-decoration: none;
  color: #fff; }

.noscroll {
  overflow: hidden; }

.wrapper {
  width: 1024px;
  margin: 0 auto; }

header {
  position: absolute;
  z-index: 100;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50px;
  width: 100vw;
  text-align: right;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
  header h1 {
    margin: 20px 0;
    font-size: 6em;
    color: #000; }
  header li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.8em;
    color: #000; }
    header li a {
      color: #000; }

.hero {
  width: 100vw;
  height: 100vh; }
  .hero .hero-statement {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    display: none;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    padding-right: 100px;
    color: #000;
    line-height: 1.5em;
    font-size: 4em; }
  .hero .sprite-container {
    position: relative;
    width: 50%;
    height: 70%;
    left: 0%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }
    .hero .sprite-container img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: none; }
  .hero .sprite-animation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    background: url("/img/logo3_full.svg") no-repeat 0 0%;
    background-size: 100%;
    -webkit-animation: sprite 1.5s 0.5s steps(45) forwards;
            animation: sprite 1.5s 0.5s steps(45) forwards;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }
@-webkit-keyframes sprite {
  from {
    background-position: 0 0%; }
  to {
    background-position: 0 100%; } }
@keyframes sprite {
  from {
    background-position: 0 0%; }
  to {
    background-position: 0 100%; } }
  .hero .center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

section .section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 4em; }

.about {
  height: 100vh;
  padding-top: 150px; }
  .about ul li {
    position: relative;
    padding: 10px;
    display: inline-block;
    width: 33.33%;
    float: left; }
    .about ul li h1 {
      margin-bottom: 30px;
      font-family: 'Melbourne';
      font-size: 2.4em;
      text-transform: uppercase;
      text-align: center; }
    .about ul li p {
      position: relative;
      line-height: 1.5em;
      text-align: center; }
      .about ul li p::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: #8B8981; }

.resume-button {
  margin: 25px auto 0 auto;
  text-align: center; }
  .resume-button a {
    padding: 10px 15px;
    border: 2px solid #8B8981;
    color: #000;
    font-size: 1.6em;
    font-style: italic; }

.portfolio-pieces {
  padding: 50px 0; }
  .portfolio-pieces ul li {
    position: relative;
    width: 33.33%;
    float: left;
    padding-bottom: 33.33%; }
    .portfolio-pieces ul li a {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 30px; }
      .portfolio-pieces ul li a:hover .hover {
        opacity: 1;
        -webkit-transform: translateY(-50%) rotateY(0deg) scale(1.25);
                transform: translateY(-50%) rotateY(0deg) scale(1.25); }
      .portfolio-pieces ul li a:hover .preview img {
        -webkit-transform: translateY(-50%) rotateY(180deg) scale(1.25);
                transform: translateY(-50%) rotateY(180deg) scale(1.25); }
      .portfolio-pieces ul li a img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%) rotateY(0deg) scale(1);
                transform: translateY(-50%) rotateY(0deg) scale(1);
        -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; }
      .portfolio-pieces ul li a .preview {
        position: relative;
        width: 100%;
        height: 100%; }
      .portfolio-pieces ul li a .preview-img {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
        top: 0;
        border-radius: 50%; }
  .portfolio-pieces .hover {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) rotateY(180deg) scale(1);
            transform: translateY(-50%) rotateY(180deg) scale(1);
    z-index: 4;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    opacity: 0;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
    .portfolio-pieces .hover:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.25); }
    .portfolio-pieces .hover h1 {
      position: relative;
      top: 25%;
      z-index: 5;
      color: #fff;
      font-size: 2.4em;
      text-align: center; }
  .portfolio-pieces .project-img {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 150;
    background: rgba(0, 0, 0, 0.5); }
    .portfolio-pieces .project-img figure {
      width: 100%;
      height: auto; }
      .portfolio-pieces .project-img figure img {
        width: 75%;
        height: auto;
        display: block;
        margin: 0 auto; }
    .portfolio-pieces .project-img .exit-container {
      position: fixed;
      right: 50px;
      top: 25px;
      height: 50px;
      width: 50px;
      cursor: pointer; }
      .portfolio-pieces .project-img .exit-container .exit {
        position: absolute;
        top: 50%;
        height: 3px;
        width: 50px;
        background: #fff;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
        .portfolio-pieces .project-img .exit-container .exit:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 50px;
          background: #fff;
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }

footer {
  font-family: 'Melbourne';
  font-size: 2em;
  padding: 50px 0;
  text-align: center;
  background: #8B8981; }
  footer a {
    font-family: inherit; }
  footer .copyright {
    margin-top: 30px;
    font-family: 'Melbourne';
    font-size: 1em;
    color: #fff; }

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 80%; } }
@media screen and (max-width: 750px) {
  .hero .hero-statement {
    padding-right: 0; } }

/*# sourceMappingURL=style.css.map */