@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:400,300);
* {
  box-sizing: border-box; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: '';
    display: table; }
  .clearfix:after {
    clear: both; }

html, body {
  width: 100%;
  height: 100%; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 62.5%; }

h1 {
  font-family: 'Playfair Display';
  font-size: 3em; }

p {
  font-family: 'Source Sans Pro';
  font-size: 1.6em; }

a {
  font-family: 'Source Sans Pro';
  text-decoration: none;
  color: #fff; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

header {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100vw;
  text-align: center; }
  header h1 {
    margin: 20px 0;
    font-size: 6em;
    color: #fff; }
  header li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.8em; }

.hero figure {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .hero figure:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .hero figure img {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto; }

section .section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 4em; }

.about {
  padding: 50px 0; }
  .about ul li {
    position: relative;
    padding: 10px;
    display: inline-block;
    width: 33.33%;
    float: left; }
    .about ul li h1 {
      margin-bottom: 30px;
      font-family: 'Source Sans Pro';
      font-size: 2.4em;
      text-transform: uppercase;
      text-align: center; }
    .about ul li p {
      position: relative;
      line-height: 1.5em;
      text-align: center; }
      .about ul li p::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background-color: #8B8981; }

.resume-button {
  margin: 25px auto 0 auto;
  text-align: center; }
  .resume-button a {
    padding: 10px 15px;
    border: 2px solid #8B8981;
    color: #000;
    font-size: 1.6em;
    font-style: italic; }

.portfolio-pieces {
  padding: 50px 0; }
  .portfolio-pieces ul li {
    position: relative;
    width: 33.33%;
    float: left;
    padding-bottom: 33.33%; }
    .portfolio-pieces ul li a {
      position: absolute;
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 15px; }
      .portfolio-pieces ul li a:hover .hover {
        opacity: 1;
        transform: translateY(-50%) rotateY(0deg); }
      .portfolio-pieces ul li a:hover img {
        transform: translateY(-50%) rotateY(180deg); }
      .portfolio-pieces ul li a img {
        position: relative;
        top: 50%;
        transform: translateY(-50%) rotateY(0deg);
        transition: all 0.3s ease-in-out; }
  .portfolio-pieces .hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateY(180deg);
    z-index: 4;
    width: calc(100% - 30px);
    height: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
    .portfolio-pieces .hover h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 5;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
